In [8]:
import pandas as pd
import boto3
from io import StringIO

minio_client = boto3.client(
    's3',
    endpoint_url='http://localhost:9000',  
    aws_access_key_id='minioadmin',        
    aws_secret_access_key='minioadmin',
)

bucket_name = 'climate-analysis'
object_key = 'distrito_federal_tratado.csv'

response = minio_client.get_object(Bucket=bucket_name, Key=object_key)

csv_data = response['Body'].read().decode('utf-8')

df = pd.read_csv(StringIO(csv_data))

In [9]:
from datetime import datetime

df.loc[:, 'Data'] = pd.to_datetime(df['Data'], format='%Y-%m-%d')
df.rename(columns={
    'Data': 'data',
    'TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)': 'temperatura',
    'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)': 'precipitacao',
    'UMIDADE RELATIVA DO AR, HORARIA (%)': 'umidade_relativa',
    'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)': 'pressao',
    'RADIACAO GLOBAL (Kj/m²)': 'radiacao',
    'VENTO, DIREÇÃO HORARIA (gr) (° (gr))': 'vento_direcao',
    'VENTO, VELOCIDADE HORARIA (m/s)': 'vento_velocidade',
    'region': 'regiao',
    'state': 'estado',
    'station': 'estacao',
    'latitude': 'latitude',
    'longitude': 'longitude',
}, inplace=True)

df['temperatura'] = df['temperatura'].apply(lambda x: x if pd.notna(x) and x >= -50 else None)  # Temperatura não pode ser negativa
df['umidade_relativa'] = df['umidade_relativa'].apply(lambda x: x if pd.notna(x) and 0 <= x <= 100 else None)  # Umidade entre 0% e 100%
df['precipitacao'] = df['precipitacao'].apply(lambda x: x if pd.notna(x) and x >= 0 else 0)  # Precipitação não pode ser negativa
df['pressao'] = df['pressao'].apply(lambda x: x if pd.notna(x) and x >= 0 else None)  # Pressão não pode ser negativa
df['vento_velocidade'] = df['vento_velocidade'].apply(lambda x: x if pd.notna(x) and x >= 0 else None)  # Velocidade do vento não pode ser negativa
df['vento_direcao'] = df['vento_direcao'].apply(lambda x: x if pd.notna(x) and 0 <= x <= 360 else None)  # Direção do vento deve estar entre 0 e 360 graus

df = df[['data', 'temperatura', 'precipitacao', 'umidade_relativa', 'pressao', 'radiacao', 'vento_direcao', 'vento_velocidade', 'latitude', 'longitude', 'estacao']]

df.head()

,data,temperatura,precipitacao,umidade_relativa,pressao,radiacao,vento_direcao,vento_velocidade,latitude,longitude,estacao
0,2017-12-20 00:00:00,26.5,0.0,59.0,899.6,3391,39.0,3.9,-16.011111,-47.5575,PARANOA (COOPA-DF)
1,2017-12-20 00:00:00,26.6,0.0,54.0,899.2,3306,55.0,3.4,-16.011111,-47.5575,PARANOA (COOPA-DF)
2,2017-12-20 00:00:00,27.3,0.0,49.0,898.6,3167,62.0,3.6,-16.011111,-47.5575,PARANOA (COOPA-DF)
3,2017-12-20 00:00:00,27.5,0.0,41.0,897.7,3279,43.0,3.1,-16.011111,-47.5575,PARANOA (COOPA-DF)
4,2017-12-20 00:00:00,27.5,0.0,43.0,897.0,2753,98.0,3.5,-16.011111,-47.5575,PARANOA (COOPA-DF)

In [10]:
from pymongo import MongoClient

client = MongoClient('mongodb://root:mongo@localhost:27017/')
db = client['clima_dashboard']  
collection = db['dados_climaticos'] 


data_dict = df.to_dict(orient='records') 
collection.insert_many(data_dict)

print("Dados inseridos no MongoDB!")

Dados inseridos no MongoDB!